{% extends "layout.html" %}
{% load static %}
{% block content %}
<main class="justify-self-stretch flex-1">
  <section class="flex flex-col mx-auto mt-2">
    <h2 class="font-grands text-2xl md:text-3xl text-center w-full my-6">{{ association.nom }}</h3>

    <div class="font-body mx-auto w-[80%] rounded-lg my-1 justify-center flex">
      {% for x in association.images_association.all %}
        <img src="{% static '' %}{{ x.url }}" class="rounded-lg"  alt="Logo de {{ association.nom }}">
      {% empty %}
        <img src="{% static 'images/shelter_empty.webp' %}" alt="Logo de {{ association.nom }} bientôt visible">
      {% endfor %}
    </div>

    <article class="font-body mx-auto w-[90%] md:w-[60%] bg-zoning rounded-lg shadow my-4">
      <div class="text-center w-full">
        <h3 class="font-grands text-xl md:text-3xl text-center my-1 w-full">Informations</h3>
      </div>

      <div class="w-full py-2 px-2 text-xs">
        <p class="font-body text-texte md:text-center md:text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus magni rerum, unde sunt beatae ipsam rem est sequi minus eligendi doloremque aliquid laudantium eos perspiciatis obcaecati ea voluptas harum et?</p>
      </div>

      <div class="w-full px-2 py-4 gap-2 text-xs flex flex-col">
        <p class="font-body text-texte text-center md:text-base">Adresse : {{ association.rue }},&nbsp;{{ association.code_postal }},&nbsp;{{ association.commune}},&nbsp;{{ association.pays }}</p>
        <p class="font-body text-texte text-center md:text-base">Téléphone : {{ association.telephone }}</p>
        <p class="font-body text-texte text-center md:text-base">E-mail : {{ association.utilisateur.email }}</p>	
      </div>
    </article>
  </section>
	
  <!-- if animals.length -->
  <section class="p-2 block">
    <h2 class="font-grands text-xl text-center my-2 md:md:text-2xl">Ils vous y attendent de patte ferme !</h2>
      <!-- Carousel of ONE -->

      <!-- Carousel of THREE -->

  </section>
  <!-- endif -->
</main>

<script src="{% static 'js/carousel.js' %}"></script>
{% endblock %}